.home-layout {
    display: flex;
}

.first-container {
    flex: 1;
    margin-left: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 60px;
    padding: 30px;
    background-color: #f9fafb;
    flex: 1;
}

.add-task-btn {
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 10px;
    padding: 8px 16px;
    background-color: #005DA9;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.add-task-btn:hover {
    background-color: #046ec5;
}

.content-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content h1 {
    font-size: 28px;
    font-weight: 600;
    color: #1f2937;
    margin-bottom: 5px;
}

.overview-text {
    font-size: 15px;
    color: #6b7280;
    margin-bottom: 30px;
}



/* second container */

.second-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    gap: 50px;
}