.home-layout {
    display: flex;
}

.first-container {
    flex: 1;
    margin-left: 280px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.content {
    margin-top: 60px;
    padding: 30px;
    background-color: #f9fafb;
    flex: 1;

}

.projects-page-content {}